﻿@page
@using razor.Models
@model PrivacyModel

@Html.DisplayNameFor(model => model.ConsultationList[0].Doctor)

@{
    ViewData["Title"] = "Privacy Policy";
}

@Html.AjaxGrid(Url.Page("IndexGrid"))

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>